aiohappyeyeballs
aiohttp
aiosignal
annotated-types
annoy==1.16.2
anyio
attrs
Bottleneck
Brotli
certifi
charset-normalizer
clip
datasets
dill
distro
faiss==1.9.0
filelock
frozenlist
fsspec
ftfy==6.3.1
httpcore
httpx
huggingface-hub==0.30.2
joblib==1.4.2
MarkupSafe
mkl-service==2.4.0
mkl_fft
mkl_random
multidict
multiprocess
networkx
numexpr
numpy
openai
packaging
pandas
pillow
propcache
pyarrow==11.0.0
pydantic
pydantic_core
PySocks
python-dateutil
pytz
PyYAML
regex
requests
responses
safetensors
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==4.1.0
six
sniffio
sympy
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm
transformers==4.51.3
triton==3.0.0
typing_extensions
tzdata
urllib3
wcwidth==0.2.13
xxhash
yarl
zipp
